@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Nunito, sans-serif;
  background-color: #d4d4d4;
  padding: 2.5rem 0; }

.main {
  padding: 3rem;
  background-color: whitesmoke;
  width: 600px;
  margin: auto;
  border-radius: 20px; }
  .main .brand {
    color: #00643C;
    text-align: center; }
    .main .brand-logo img {
      height: 100px;
      width: 100px; }
    .main .brand-text {
      font-weight: 700;
      font-size: 1.5rem;
      text-transform: uppercase; }
  .main .header-block {
    font-weight: 600;
    text-decoration: underline;
    color: #00643C; }

h1 {
  font-size: 2.5rem; }

p {
  width: fit-content;
  font-size: 1.5rem; }
