// Default Colors
$primary-color : #000;
$secondry-color: #00643C;
$bg-color: #d4d4d4;
$bg-wheat: whitesmoke;

// Default Text Size
$tx-small: 1.5rem;
$tx-medium: 2rem;
$tx-large: 2.5rem;

@import './body';
@import './typo';